﻿span {
   outline: none !important;
}

.two-column {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 100vw;
	font-size: 0;
}

.two-column .detail-result {
    width: 50%;
    display: inline-table;

}

.result-heading > * {
    margin: 0px;
}

.search-key {
    font-size: 24px;
}

.group-content {
    margin-bottom: 92px;
}

.custom-header .x-panel-body-default {
    background: black;
}

.custom-panel {
}

.custom-panel .x-tab-bar-default-top {
    background: none;
}

.custom-panel .x-tab-bar-default-top .x-box-inner {
   border-bottom:1px solid #cccccc;
   padding: 10px 50px;
}

.custom-panel .x-tab-bar-body-default .x-tab-bar-body-default {
    border: none;
}

.custom-panel .x-tab-bar-default-top .x-tab-bar-strip-default {
    border: none;
    background: none;
}

.custom-panel .x-tab-bar-default-top .x-tab.x-tab-default-top,
.custom-panel .x-tab-bar-default-top .x-tab.x-tab-default-left,
.custom-panel .x-tab-bar-default-top .x-tab.x-tab-default-right {
    background: none;
    border: none;
}

.custom-panel .x-tab-bar-default-top .x-tab {
    background: none;
    border-bottom: 2px solid transparent!important;
    margin: 0 10px;
}

.custom-panel .x-tab-bar-default-top .x-tab.x-tab-active {
    border-bottom-color: green!important;
}

.custom-panel .x-tab-bar-default-top .x-tab .x-tab-inner {
    display: block;
}

.custom-panel .x-tab-bar-default-top .x-tab .x-tab-inner h3 {
    font-size: 18px;
    font-weight: normal;
    color: rgba(0,0,0,0.5);
    text-transform: uppercase;
}

.custom-panel  .x-panel-body .x-autocontainer-innerCt .result-heading{
    font-size: 18px;
    color: rgba(0,0,0,0.5);
    padding: 20px 0;
}

.custom-panel  .x-panel-body .x-autocontainer-innerCt .result-heading .search-key {
    color: #000;
}

.custom-panel  .x-panel-body .x-autocontainer-innerCt .result-heading > h2 {
    font-weight: normal;
    font-size: 22px;
}

.custom-panel  .x-panel-body .x-autocontainer-innerCt .detail-result {
    font-size: 14px;
    color: rgba(0,0,0,0.5);
    padding: 20px 0;
}

.custom-panel  .x-panel-body .x-autocontainer-innerCt .detail-result > h3 {
    font-weight: normal;
    color: #057185;
    margin: 5px 0;
    font-size: 16px;
}

.custom-header .normal-search {
    width: 150px;
    float: right;
    background: white;
}

.custom-header .x-form-text-field-body-default {
    min-width: auto;
    display: block;
}

.actived {
    background-color: red;
}
